<%= decidim_modal id: modal_id, class: "template-modal template-modal--#{modal_modifier}", open: open? do %>
  <div data-dialog-container>
  <%= modal_form_for do |f| %>
    <%= f.hidden_field :method, value: form_method %>
    <% if template.id.present? %>
      <%= f.hidden_field :id, value: template.id %>
    <% end %>

    <h3 id="<%= modal_id %>_title" data-dialog-title class="template-modal__title">
      <%= modal_title %>
    </h3>
    <div class="form__wrapper">
      <div class="row column">
        <%= f.select :source_id, grouped_options_for_select(participatory_spaces.transform_values(&:invert), space_gid), {  include_blank: true }, {disabled: true, label: t("source_id", scope: i18n_form_scope) } %>
        <div class="help-text">
          <%= t("source_id_help_text", scope: i18n_scope) %>
        </div>
        <%= f.hidden_field :source_id, value: space_gid %>
      </div>
      <% if public_url.present? %>
        <div class="row column">
          <label for="template-js-public-url">
            <%= t("public_url", scope: i18n_form_scope) %>
            <div class="template-modal__public_link_container">
              <%= link_to public_url, target: "_blank", class:"template-modal__public_link" do %>
                <span id="template-js-public-url" class="template-modal__public_link_text"><%= public_url %></span>
              <% end %>
              <%= link_to "#", class: "template-modal__public_link_icon", "data-clipboard-target" => "template-js-public-url" do %>
                <%= icon "file-copy-line" %>
                <span class="copy_success_message" aria-hidden="true"><%= t("copied_to_clipboard", scope: i18n_form_scope) %></span>
              <% end %>
            </div>
          </label>
          <div class="help-text">
            <%= t("public_url_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
      <% end %>
      <% f.fields_for :template, f.object.template do |field| %>
        <div class="row column">
          <%= field.text_field :name, required: true, label: t("name", scope: i18n_form_scope), placeholder: t("name_placeholder", scope: i18n_form_scope) %>
          <div class="help-text">
            <%= t("name_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
        <div class="row column">
          <%= field.text_field :author, required: true,label: t("author", scope: i18n_form_scope), placeholder: t("author_placeholder", scope: i18n_form_scope) %>
          <div class="help-text">
            <%= t("author_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
        <div class="row column">
          <%= field.text_field :links, label: t("links", scope: i18n_form_scope), placeholder: t("links_placeholder", scope: i18n_form_scope), value: links_csv %>
          <div class="help-text">
            <%= t("links_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
        <div class="row column">
          <%= field.text_field :version, required: true,label: t("version", scope: i18n_form_scope), placeholder: t("version_placeholder", scope: i18n_form_scope) %>
          <div class="help-text">
            <%= t("version_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
        <div class="row column">
          <%= field.text_area :description, rows: 5, required: true, label: t("description", scope: i18n_form_scope), placeholder: t("description_placeholder", scope: i18n_form_scope), maxlength: 450 %>
          <div class="help-text">
            <%= t("description_help_text", scope: i18n_form_scope) %>
          </div>
        </div>
      <% end %>
    </div>
    <div data-dialog-actions>
      <%= f.button t("cancel_button", scope: i18n_scope), type: "reset", class: "button button__lg button__transparent-secondary", "data-dialog-close" => modal_id %>
      <%= f.submit t("submit_button", scope: i18n_scope), class: "button button__lg button__secondary" %>
    </div>
  <% end %>
  </div>
<% end %>
