<div class="card">
  <div class="row column pt-4">
    <div class="item_show__header">
      <h2 class="item_show__header-title">
        <%= t("decidim.community_templates.admin.templates.apply.title") %>
      </h2>
    </div>
  </div>

  <div class="form__wrapper">
    <%= decidim_form_for @form, url: template_path(@form.id), method: :put, html: { class: "form-defaults form new_template" } do |f| %>
      <%= f.hidden_field :id %>
      <div class="row column">
        <h3 class="h4"><%= translated_attribute(@form.parser.name) %></h3>
        <p><%= translated_attribute(@form.parser.description) %> (<%= @form.parser.version %>)</p>
      </div>
      <div class="row column">
        TODO: show info about the objects that will be imported with this template
      </div>
      <div class="row column">
          <%= f.check_box :demo, label: t("decidim.community_templates.admin.templates.apply.demo") %>
      </div>

      <div class="row column">
        <%= f.submit t("decidim.community_templates.admin.templates.apply.submit"), class: "button button__sm button__secondary" %>
      </div>
    <% end %>
  </div>
</div>
