<div class="card">
  <div class="row column pt-4">
    <div class="item_show__header">
      <h2 class="item_show__header-title">
        <%= t("decidim.community_templates.admin.templates.new.title") %>
      </h2>
    </div>
  </div>

  <div class="form__wrapper">
    <div class="row column">
      <div class="card__grid-grid">
        <div class="card__grid-item">
          TODO: show info about existing templates for this participatory space. Maybe allow to override/delete them?
           </div>
        <%= card_for @form.participatory_space %>
      </div>
    </div>

    <%= decidim_form_for(@form, html: { class: "form-defaults form new_template" }, url: templates_path) do |f| %>

      <%= f.hidden_field :id %>

      <div class="row column">
        <h3 class="h4"><%= t("decidim.community_templates.admin.templates.new.metadata.title") %></h3>
      </div>

      <div class="row column">
        <%= f.translated :text_field, :name, label: t("decidim.community_templates.admin.templates.new.metadata.name") %>
      </div>

      <div class="row column">
        <%= f.translated :text_area, :description, label: t("decidim.community_templates.admin.templates.new.metadata.description"), placeholder: t("decidim.community_templates.admin.templates.new.metadata.description_placeholder") %>
      </div>

      <div class="row column">
        <%= f.text_field :version, label: t("decidim.community_templates.admin.templates.new.metadata.version"), placeholder: t("decidim.community_templates.admin.templates.new.metadata.version_placeholder") %>
      </div>

      <div class="row column">
        <%= f.submit t("decidim.community_templates.admin.templates.index.create_template"), class: "button button__sm button__secondary" %>
      </div>
    <% end %>
  </div>
</div>
